@import "tailwindcss";

@theme inline {
  --color-primary: #48503b;
  --color-secondary: #d9a551;
  --color-dark-grey: #595959;
  --color-card-background: #f8f5f0;
  --color-background: (#fdfbf7);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-pacifico: var(--font-pacifico);
}

@layer components {
  .section-container {
    @apply mx-auto md:px-4 xl:px-8 px-2 max-w-[1440px];
  }

  .main-container {
    @apply md:space-y-[100px] space-y-[60px];
  }

  .small-heading {
    @apply text-lg uppercase text-secondary max-md:text-sm tracking-widest;
  }

  .big-heading {
    @apply text-5xl max-md:text-3xl capitalize text-primary opacity-[0.74] font-light;
  }

  .blog-content {
    @apply -mt-16 mx-4 mb-4 bg-card-background shadow-lg p-5 lg:p-6 transition-all duration-300;
  }

  .blog-title {
    @apply text-sm lg:text-sm font-light text-dark-grey uppercase tracking-wide mb-2 transition-colors duration-300;
  }

  .blog-date {
    @apply absolute top-4 left-3 border border-white/40 backdrop-blur-[10.9px] rounded-lg px-2 py-4 text-center min-w-[50px] transition-colors duration-300 group-hover:bg-primary group-hover:border-primary;
  }

  .blog-desc {
    @apply text-base lg:text-lg font-light text-black leading-snug transition-colors duration-300 group-hover:text-white;
  }

  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }

  /* Phone Input Styles */
  .phone-input-container {
    @apply w-full;
  }

  .phone-input-container .react-tel-input .form-control {
    @apply w-full px-4 py-3 border border-gray-200 rounded-md text-sm focus:outline-none pl-14;
    /* height: auto !important; */
  }

  .phone-input-container .react-tel-input .flag-dropdown {
    @apply border-r border-gray-200 rounded-l-md bg-white;
  }

  .phone-input-container .react-tel-input .selected-flag {
    @apply px-3 py-3 hover:bg-gray-50 transition-colors;
  }

  .phone-input-container .react-tel-input .selected-flag .arrow {
    @apply border-t-gray-500;
  }

  .phone-input-container .react-tel-input .country-list {
    @apply rounded-md shadow-lg border border-gray-200 mt-1;
  }

  .phone-input-container .react-tel-input .country-list .country:hover {
    @apply bg-gray-50;
  }

  .phone-input-container .react-tel-input .country-list .country.highlight {
    @apply bg-gray-50;
  }
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: Arial, var(--font-outfit);
}
