@import "tailwindcss";

@font-face {
  font-family: "Optima";
  src: url("/OPTIMA.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-primary: #48503b;
  --color-secondary: #d9a551;
  --color-dark-grey: #595959;
  --color-card-background: #f8f5f0;
  --color-background: (#fdfbf7);
  --color-foreground: var(--foreground);
  --font-sans: "Optima", system-ui, sans-serif;
  --font-mono: var(--font-geist-mono);
  --font-pacifico: var(--font-pacifico);
}

@layer components {
  .section-container {
    @apply mx-auto md:px-4 xl:px-8 px-2 max-w-[1440px];
  }

  .main-container {
    @apply md:space-y-[100px] space-y-[60px];
  }

  .small-heading {
    @apply text-lg uppercase text-secondary max-md:text-sm tracking-widest;
  }

  .big-heading {
    @apply text-5xl max-md:text-3xl capitalize text-primary opacity-[0.74] font-light;
  }

  .blog-content {
    @apply lg:-mt-16 -mt-4 mx-4 mb-4 bg-card-background  p-5 lg:p-6 transition-all duration-300;
  }

  .blog-title {
    @apply text-sm lg:text-sm font-light text-dark-grey uppercase tracking-wide mb-2 transition-colors duration-300;
  }

  .blog-date {
    @apply absolute top-4 left-3 border border-white/40 backdrop-blur-[10.9px] rounded-lg px-2 py-4 text-center min-w-[50px] transition-colors duration-300 group-hover:bg-primary group-hover:border-primary;
  }

  .blog-desc {
    @apply text-base lg:text-lg font-light text-black leading-snug transition-colors duration-300 group-hover:text-white;
  }

  .button-border {
    @apply border-[#59595966];
  }

  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }

  /* Swiper Pagination Customization */
  .swiper-pagination {
    @apply bottom-3!;
  }

  .swiper-pagination-bullet {
    @apply w-2! h-2! mx-1! opacity-100! transition-all! duration-300!;
  }

  .swiper-pagination-bullet-active {
    @apply w-8! rounded-full!;
  }
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: "Optima", Arial, sans-serif;
}
